<% include partials/header %>

<h1 class="jumbotron" align="center">WELCOME TO YELPCAMP</h1>
<div align="center"><button class="btn btn-next"><a href="/campgrounds">view campgrounds</a></button></div>

<% include partials/footer %>