<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10" >
            <div class="thumbnail">
            <img class="img-responsive" src=<%=campground.image %> >
            <div class="caption-full">
            <h4><a><%=campground.name %></a></h4>
            <p><%=campground.d %></p>
            </div> 
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<% include partials/footer %>